.button {
  &.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

.toolbar {
  /* margin: 1em 0px; */
  display: flex;
  gap: 0.5em;
}

.link {
  --color: grey;
  display: inline-flex;
  border: 1px solid var(--color);
  padding: 0.3em;
  border-radius: 0.4em;
  gap: 0.3em;
  align-items: center;

  & input:not(:disabled) {
    outline: 1px solid var(--color-primary);
  }

  & button {
    width: 6ch;
    box-sizing: content-box;
  }
}

.popup {
  position: absolute;
  z-index: 1;
  display: block;
  border: solid 1px black;
}

.select {
  border-radius: 0.4em;
  border: none;
  outline: none;

  &:hover,
  &:active {
    outline: 1px solid var(--color-primary);
  }
}
